# Copier ce fichier en .env et remplir les valeurs
SECRET_KEY=changez-cette-cle-secrete-longue-et-aleatoire
DEBUG=False
ALLOWED_HOSTS=halalopenbeautyfacts.org,www.halalopenbeautyfacts.org,localhost

POSTGRES_DB=halaldb
POSTGRES_USER=halal
POSTGRES_PASSWORD=votre_mot_de_passe_postgres
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

REDIS_URL=redis://redis:6379/0
